/* Font for HEADER */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Font for HEADER logo */
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*Font Ubuntu Mono */
@font-face {
  font-family: 'Ubuntu Mono';
  src: url("../fonts/UbuntuMono-Regular.eot");
  src: local("Ubuntu Mono"), local("UbuntuMono-Regular"), url("../fonts/UbuntuMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMono-Regular.woff") format("woff"), url("../fonts/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
================================================================================
|                                 GLOBAL STYLE                                 |
================================================================================
*/
/* line 46, ../sass/style.scss */
html {
  font-size: 14px;
}

/* line 51, ../sass/style.scss */
body {
  background-color: #0C1B2F;
  color: #fff;
  font-size: 14px;
}

/* line 57, ../sass/style.scss */
.main-content {
  outline: solid 3px #1B2F4A;
}

/* line 61, ../sass/style.scss */
.sec {
  outline: solid 3px #1B2F4A;
}

/*
================================================================================
|                                   MAIN GRID                                  |
================================================================================
*/
/* line 72, ../sass/style.scss */
.main-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

/* line 78, ../sass/style.scss */
header {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 82, ../sass/style.scss */
.main-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: stretch;
}

/* line 89, ../sass/style.scss */
.sec-left {
  flex-basis: 10.6%;
  overflow: auto;
}

/* line 94, ../sass/style.scss */
.sec-center {
  -webkit-flex-basis: 68.9%;
  -ms-flex-basis: 68.9%;
  flex-basis: 68.9%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  padding: 10px;
}
/* line 99, ../sass/style.scss */
.sec-center .left {
  -webkit-flex-basis: 66.5%;
  -ms-flex-basis: 66.5%;
  flex-basis: 66.5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 104, ../sass/style.scss */
.sec-center .left .top {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 108, ../sass/style.scss */
.sec-center .left .bottom {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
/* line 114, ../sass/style.scss */
.sec-center .right {
  -webkit-flex-basis: 33.5%;
  -ms-flex-basis: 33.5%;
  flex-basis: 33.5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: stretch;
}
/* line 120, ../sass/style.scss */
.sec-center .sec {
  margin: 10px;
}

/* line 125, ../sass/style.scss */
.sec-center-1 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}

/* line 129, ../sass/style.scss */
.sec-center-2 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}

/* line 133, ../sass/style.scss */
.sec-center-3 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}

/* line 137, ../sass/style.scss */
.sec-center-4 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}

/* line 141, ../sass/style.scss */
.sec-right {
  -webkit-flex-basis: 20.5%;
  -ms-flex-basis: 20.5%;
  flex-basis: 20.5%;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
/* line 1, ../sass/_header.scss */
header .navbar {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.93rem;
  background-color: #112137;
  outline: solid 3px #1B2F4A;
}
/* line 8, ../sass/_header.scss */
header .navbar .navbar-brand {
  margin-right: 100px;
  font-family: "Gotham Pro";
  font-weight: bold;
  color: #61768b;
}
/* line 15, ../sass/_header.scss */
header .navbar .log-in {
  outline: solid 2px #1B2F4A;
  padding: 5px 14px;
}
/* line 21, ../sass/_header.scss */
header .navbar .navbar-left .nav-link {
  margin-right: 20px;
}
/* line 28, ../sass/_header.scss */
header .navbar .navbar-right a {
  display: flex;
  align-items: center;
}
/* line 32, ../sass/_header.scss */
header .navbar .navbar-right a:hover path {
  fill: #00cf7a;
}
/* line 39, ../sass/_header.scss */
header .navbar .navbar-right .nav-item:not(:first-child) {
  margin-left: 35px;
}
/* line 43, ../sass/_header.scss */
header .navbar .navbar-right .nav-item:nth-child(2) {
  margin-left: 34px;
}
/* line 47, ../sass/_header.scss */
header .navbar .navbar-right .nav-item:nth-child(3) {
  margin-left: 36px;
}
/* line 51, ../sass/_header.scss */
header .navbar .navbar-right .nav-item:nth-child(4) {
  margin-left: 23px;
}
/* line 57, ../sass/_header.scss */
header .navbar .navbar-right .bell_circle {
  position: relative;
  bottom: 7px;
  vertical-align: super;
  display: inline-block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: red;
}
/* line 69, ../sass/_header.scss */
header .navbar .navbar-nav .nav-link {
  color: #ffffff;
}

/*
================================================================================
|                                   .sec-left                                  |
================================================================================
*/
/* line 1, ../sass/_sec-left.scss */
.sec-left {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-left.scss */
.sec-left .controllers {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-left.scss */
.sec-left .list {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
  margin: 10px 0;
}
/* line 14, ../sass/_sec-left.scss */
.sec-left .list .checked .bookmark path {
  fill: #357ddd;
}
/* line 18, ../sass/_sec-left.scss */
.sec-left .list .bookmark:hover {
  cursor: pointer;
}
/* line 23, ../sass/_sec-left.scss */
.sec-left .list .item {
  padding: 10px 8px 13px;
  margin: 0 7px;
  border-bottom: solid 2px #1B2F4A;
}
/* line 25, ../sass/_sec-left.scss */
.sec-left .list .item:hover {
  background-color: #2c496c;
}
/* line 33, ../sass/_sec-left.scss */
.sec-left .list .item:last-of-type {
  border-color: transparent;
}
/* line 37, ../sass/_sec-left.scss */
.sec-left .list .item .top {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
/* line 44, ../sass/_sec-left.scss */
.sec-left .list .item .bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 50, ../sass/_sec-left.scss */
.sec-left .list .item .currency {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}
/* line 54, ../sass/_sec-left.scss */
.sec-left .list .item .currency img {
  margin-right: 5px;
}
/* line 58, ../sass/_sec-left.scss */
.sec-left .list .item .currency span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 65, ../sass/_sec-left.scss */
.sec-left .list .item .percent {
  color: #00CF7A;
}
/* line 69, ../sass/_sec-left.scss */
.sec-left .list .item.red .percent {
  color: #FF4B4B;
}
/* line 75, ../sass/_sec-left.scss */
.sec-left .select-money {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  outline: solid 3px #1B2F4A;
}
/* line 81, ../sass/_sec-left.scss */
.sec-left .select-money .item {
  padding: 15px 5px;
  border-bottom: solid 3px transparent;
  margin-bottom: -3px;
  color: #395C86;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}
/* line 92, ../sass/_sec-left.scss */
.sec-left .select-money .item:hover {
  color: rgba(53, 125, 221, 0.7);
  border-color: rgba(53, 125, 221, 0.5);
}
/* line 98, ../sass/_sec-left.scss */
.sec-left .select-money .item.selected {
  color: #357DDD;
  border-color: #357DDD;
}
/* line 104, ../sass/_sec-left.scss */
.sec-left .searh-and-sortable {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  outline: solid 3px #1B2F4A;
  margin-top: 3px;
}
/* line 110, ../sass/_sec-left.scss */
.sec-left .sortable {
  padding: 15px;
  outline: solid 3px #1B2F4A;
}
/* line 114, ../sass/_sec-left.scss */
.sec-left .sortable img {
  color: #357DDD;
}
/* line 119, ../sass/_sec-left.scss */
.sec-left .search {
  flex-wrap: nowrap;
}
/* line 122, ../sass/_sec-left.scss */
.sec-left .search label {
  padding: 15px;
}
/* line 126, ../sass/_sec-left.scss */
.sec-left .search input {
  background: transparent;
  border: none;
  padding: 15px 0;
  width: 100%;
  color: #fff;
}
/* line 133, ../sass/_sec-left.scss */
.sec-left .search input:focus {
  outline: none;
  box-shadow: none;
}
/* line 138, ../sass/_sec-left.scss */
.sec-left .search input:focus ~ label {
  background: red;
}
/* line 142, ../sass/_sec-left.scss */
.sec-left .search input::-moz-placeholder {
  color: #395c86;
}
/* line 146, ../sass/_sec-left.scss */
.sec-left .search input::-webkit-input-placeholder {
  color: #395c86;
}

/*
================================================================================ 
|                                   .sec-right                                 |
================================================================================
*/
/* line 1, ../sass/_sec-right.scss */
.sec-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-right.scss */
.sec-right .top {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-right.scss */
.sec-right .bottom {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 15, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 19, ../sass/_sec-right.scss */
.sec-right .bottom .tab-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 25, ../sass/_sec-right.scss */
.sec-right .balance-top-side {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 30, ../sass/_sec-right.scss */
.sec-right .balance-top-side .title {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #768FAD;
}
/* line 38, ../sass/_sec-right.scss */
.sec-right .balance-top-side .title img {
  margin-right: 10px;
}
/* line 43, ../sass/_sec-right.scss */
.sec-right .balance-top-side .btn {
  background-color: #357DDD;
  color: #fff;
  margin: 12px 10px 12px 0;
  border-radius: 0;
}
/* line 51, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 15px 0;
}
/* line 56, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper > div {
  width: 50%;
}
/* line 60, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price,
.sec-right .balance-price-wrapper .total-profit {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding-left: 8%;
}
/* line 67, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span,
.sec-right .balance-price-wrapper .total-profit span {
  width: 100%;
}
/* line 72, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price {
  border-right: solid 3px #1B2F4A;
}
/* line 76, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span:first-of-type {
  font-size: 2.57142857rem;
  line-height: 1;
  margin-bottom: 10px;
  font-family: 'Ubuntu Mono';
}
/* line 83, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span:last-of-type {
  font-size: 1.14285714rem;
}
/* line 89, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit .title {
  font-size: 0.857142857rem;
  color: #395C86;
  line-height: 1.2;
}
/* line 95, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit__price {
  color: #00cf7a;
  font-size: 1.14285714rem;
  font-weight: 700;
}
/* line 101, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit__amount {
  font-size: 1.14285714rem;
}
/* line 108, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .title {
  font-size: 0.857142857rem;
  color: #768fad;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 15px;
  outline: solid 3px #1B2F4A;
  margin: 0;
  margin-bottom: 3px;
}
/* line 120, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  border: none;
  margin-bottom: 3px;
}
/* line 126, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .nav-link {
  width: 50%;
  border-radius: 0;
  text-align: center;
  border: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 0.857142857rem;
  color: #395c86;
  padding: .7rem 1rem;
  outline: solid 3px #1b2f4a;
}
/* line 138, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .nav-link.active {
  background-color: #112137;
  color: #357ddd;
  outline: #1b2f4a solid 3px;
  border: none;
  position: relative;
}
/* line 145, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .nav-link.active::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 99.5%;
  height: 3px;
  background-color: #112137;
}
/* line 158, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form {
  background-color: #112137;
  padding: 15px;
}
/* line 162, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .checkboxes {
  padding: 0 1rem 1rem;
}
/* line 166, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form input[type="radio"]:checked + .custom-control-label {
  color: #fff;
}
/* line 170, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .custom-control-label {
  color: #395c86;
}
/* line 174, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .custom-control-label::before {
  background-color: #324864;
}
/* line 178, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #357ddd;
}
/* line 182, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .btn {
  width: 100%;
  text-align: center;
  background: #00cf7a;
  color: #ffffff;
  border-radius: 0;
}
/* line 190, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .total-amount {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 194, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .total-amount .title {
  outline: none;
}
/* line 198, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper form .total-amount .price {
  white-space: nowrap;
}
/* line 206, ../sass/_sec-right.scss */
.sec-right .orders-wrapper .title {
  font-size: 0.857142857rem;
  color: #768fad;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 15px;
  outline: solid 3px #1B2F4A;
  margin: 0;
  margin-bottom: 3px;
}
/* line 218, ../sass/_sec-right.scss */
.sec-right .orders-wrapper .price {
  white-space: nowrap;
  padding-right: 10px;
}
/* line 225, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1b2f4a;
}
/* line 231, ../sass/_sec-right.scss */
.sec-right .bottom .table thead th {
  border-bottom: 3px solid #1b2f4a;
  border-top: none;
  background-color: #112137;
  color: #395C86;
  font-weight: 500;
}
/* line 240, ../sass/_sec-right.scss */
.sec-right .bottom .table td,
.sec-right .bottom .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #1b2f4a;
}
/* line 247, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 251, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs .nav-link {
  border: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 0.857142857rem;
  color: #395c86;
}
/* line 258, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs .nav-link.active {
  color: #357ddd;
}
/* line 263, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs .nav-item.show .nav-link,
.sec-right .bottom .nav-tabs .nav-link.active {
  position: relative;
  background-color: #112137;
  border-radius: 0;
  border: none;
  outline: solid 3px #1b2f4a;
  z-index: 1;
}
/* line 272, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs .nav-item.show .nav-link::after,
.sec-right .bottom .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #112137;
}
/* line 283, ../sass/_sec-right.scss */
.sec-right .bottom .table td,
.sec-right .bottom .table th {
  vertical-align: middle;
}
/* line 288, ../sass/_sec-right.scss */
.sec-right .bottom .mCSB_inside > .mCSB_container {
  margin-right: 10px;
}
/* line 292, ../sass/_sec-right.scss */
.sec-right .bottom td.type {
  color: #00cf7a;
}
/* line 295, ../sass/_sec-right.scss */
.sec-right .bottom td.type.red {
  color: #ff4b4b;
}

/*
================================================================================
|                                 .sec-center-3                                |
================================================================================
*/
/* line 1, ../sass/_sec-center-3.scss */
.sec-center-3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-center-3.scss */
.sec-center-3 nav {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 10, ../sass/_sec-center-3.scss */
.sec-center-3 .tab-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 14, ../sass/_sec-center-3.scss */
.sec-center-3 .tab-content .checked .bell_wrapp path {
  fill: #357ddd;
}
/* line 19, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1b2f4a;
}
/* line 25, ../sass/_sec-center-3.scss */
.sec-center-3 .title {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 10px;
  color: #768FAD;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 34, ../sass/_sec-center-3.scss */
.sec-center-3 .table thead th {
  border-bottom: 3px solid #1b2f4a;
  border-top: none;
  background-color: #112137;
  color: #395C86;
  font-weight: 500;
}
/* line 43, ../sass/_sec-center-3.scss */
.sec-center-3 .table td,
.sec-center-3 .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #1b2f4a;
}
/* line 50, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 54, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-link {
  border: none;
}
/* line 59, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item.show .nav-link,
.sec-center-3 .nav-tabs .nav-link.active {
  position: relative;
  color: #495057;
  background-color: #112137;
  border-radius: 0;
  border: none;
  outline: solid 3px #1b2f4a;
  z-index: 1;
}
/* line 69, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item.show .nav-link::after,
.sec-center-3 .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #112137;
}
/* line 79, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item.show .nav-link path,
.sec-center-3 .nav-tabs .nav-link.active path {
  fill: #357ddd;
}
/* line 84, ../sass/_sec-center-3.scss */
.sec-center-3 .table td,
.sec-center-3 .table th {
  vertical-align: middle;
}
/* line 89, ../sass/_sec-center-3.scss */
.sec-center-3 .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
/* line 94, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr td {
  white-space: nowrap;
}
/* line 99, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .currency {
  text-align: center;
}
/* line 102, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .currency path {
  fill: #768fad;
}
/* line 106, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .currency span {
  display: block;
  margin-top: 5px;
  color: #768FAD;
}
/* line 114, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span {
  display: block;
}
/* line 118, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span:first-of-type {
  margin-bottom: 5px;
  color: #fff;
}
/* line 123, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span:last-of-type {
  color: #768FAD;
}
/* line 129, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span {
  display: block;
}
/* line 133, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span:first-of-type {
  margin-bottom: 5px;
  color: #00CF7A;
}
/* line 139, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span:last-of-type {
  color: #fff;
}
/* line 144, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .notify {
  text-align: center;
  padding-right: 30px;
}
/* line 148, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .notify .bell_wrapp:hover {
  cursor: pointer;
}
/* line 155, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr.red .price span:first-of-type {
  color: #FF4B4B;
}
/* line 160, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr.red .price span:last-of-type svg {
  display: inline-block;
  transform: rotate(180deg);
}
/* line 164, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr.red .price span:last-of-type svg path {
  fill: #FF4B4B;
}

/*
================================================================================
|                                 .sec-center-4                                |
================================================================================
*/
/* line 1, ../sass/_sec-center-4.scss */
.sec-center-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-center-4.scss */
.sec-center-4 nav {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-center-4.scss */
.sec-center-4 .table-wrapper {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 14, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1b2f4a;
}
/* line 20, ../sass/_sec-center-4.scss */
.sec-center-4 .title {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 10px;
  color: #768FAD;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 29, ../sass/_sec-center-4.scss */
.sec-center-4 .table thead th {
  border-bottom: 3px solid #1b2f4a;
  border-top: none;
  background-color: #112137;
  color: #395C86;
  font-weight: 500;
}
/* line 38, ../sass/_sec-center-4.scss */
.sec-center-4 .table td,
.sec-center-4 .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #1b2f4a;
}
/* line 45, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 49, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-link {
  border: none;
}
/* line 54, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item.show .nav-link,
.sec-center-4 .nav-tabs .nav-link.active {
  position: relative;
  color: #495057;
  background-color: #112137;
  border-radius: 0;
  border: none;
  outline: solid 3px #1b2f4a;
  z-index: 1;
}
/* line 64, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item.show .nav-link::after,
.sec-center-4 .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #112137;
}
/* line 75, ../sass/_sec-center-4.scss */
.sec-center-4 .table td,
.sec-center-4 .table th {
  vertical-align: middle;
}
/* line 81, ../sass/_sec-center-4.scss */
.sec-center-4 tbody tr td {
  white-space: nowrap;
}
/* line 86, ../sass/_sec-center-4.scss */
.sec-center-4 tbody tr td:nth-of-type(2) {
  color: #00CF7A;
}
/* line 91, ../sass/_sec-center-4.scss */
.sec-center-4 .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
