/*
================================================================================
|                                 GLOBAL STYLE                                 |
================================================================================
*/
/* line 10, ../sass/style.scss */
html {
  font-size: 14px;
}

/* line 14, ../sass/style.scss */
body {
  background-color: #0C1B2F;
  color: #fff;
  font-size: 14px;
}

/* line 20, ../sass/style.scss */
.main-content {
  outline: solid 3px #1B2F4A;
}

/* line 24, ../sass/style.scss */
.sec {
  outline: solid 3px #1B2F4A;
}

/*
================================================================================
|                                   MAIN GRID                                  |
================================================================================
*/
/* line 35, ../sass/style.scss */
.main-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

/* line 41, ../sass/style.scss */
header {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

/* line 45, ../sass/style.scss */
.main-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: stretch;
}

/* line 52, ../sass/style.scss */
.sec-left {
  flex-basis: 15%;
  overflow: auto;
}

/* line 57, ../sass/style.scss */
.sec-center {
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  padding: 10px;
}
/* line 62, ../sass/style.scss */
.sec-center .left {
  -webkit-flex-basis: 70%;
  -ms-flex-basis: 70%;
  flex-basis: 70%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 67, ../sass/style.scss */
.sec-center .left .top {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 71, ../sass/style.scss */
.sec-center .left .bottom {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
/* line 77, ../sass/style.scss */
.sec-center .right {
  -webkit-flex-basis: 25%;
  -ms-flex-basis: 25%;
  flex-basis: 25%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: stretch;
}
/* line 83, ../sass/style.scss */
.sec-center .sec {
  margin: 10px;
}

/* line 88, ../sass/style.scss */
.sec-center-1 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}

/* line 92, ../sass/style.scss */
.sec-center-2 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}

/* line 96, ../sass/style.scss */
.sec-center-3 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}

/* line 100, ../sass/style.scss */
.sec-center-4 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}

/* line 104, ../sass/style.scss */
.sec-right {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
/* line 1, ../sass/_header.scss */
header .navbar {
  background-color: #112137;
  outline: solid 3px #1B2F4A;
}
/* line 5, ../sass/_header.scss */
header .navbar .navbar-brand {
  margin-right: 10%;
}
/* line 9, ../sass/_header.scss */
header .navbar .log-in {
  outline: solid 2px #1B2F4A;
}
/* line 14, ../sass/_header.scss */
header .navbar .navbar-right .nav-item:not(:first-child) {
  margin-left: 35px;
}
/* line 18, ../sass/_header.scss */
header .navbar .navbar-right .bell_circle {
  position: relative;
  right: 4px;
  vertical-align: super;
  display: inline-block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: red;
}
/* line 30, ../sass/_header.scss */
header .navbar .navbar-nav .nav-link {
  color: #ffffff;
}

/*
================================================================================
|                                   .sec-left                                  |
================================================================================
*/
/* line 1, ../sass/_sec-left.scss */
.sec-left {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-left.scss */
.sec-left .controllers {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-left.scss */
.sec-left .list {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
  margin: 10px 0;
}
/* line 14, ../sass/_sec-left.scss */
.sec-left .list .item {
  padding: 10px 0 13px;
  margin: 5px 20px;
  border-bottom: solid 3px #1B2F4A;
}
/* line 19, ../sass/_sec-left.scss */
.sec-left .list .item:last-of-type {
  border-color: transparent;
}
/* line 23, ../sass/_sec-left.scss */
.sec-left .list .item .top {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
/* line 30, ../sass/_sec-left.scss */
.sec-left .list .item .bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/* line 36, ../sass/_sec-left.scss */
.sec-left .list .item .currency {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
}
/* line 40, ../sass/_sec-left.scss */
.sec-left .list .item .currency img {
  margin-right: 5px;
}
/* line 44, ../sass/_sec-left.scss */
.sec-left .list .item .currency span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 51, ../sass/_sec-left.scss */
.sec-left .list .item .percent {
  color: #00CF7A;
}
/* line 55, ../sass/_sec-left.scss */
.sec-left .list .item.red .percent {
  color: #FF4B4B;
}
/* line 61, ../sass/_sec-left.scss */
.sec-left .select-money {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  outline: solid 3px #1B2F4A;
}
/* line 67, ../sass/_sec-left.scss */
.sec-left .select-money .item {
  padding: 15px 5px;
  border-bottom: solid 3px transparent;
  margin-bottom: -3px;
  color: #395C86;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
}
/* line 78, ../sass/_sec-left.scss */
.sec-left .select-money .item:hover {
  color: rgba(53, 125, 221, 0.7);
  border-color: rgba(53, 125, 221, 0.5);
}
/* line 84, ../sass/_sec-left.scss */
.sec-left .select-money .item.selected {
  color: #357DDD;
  border-color: #357DDD;
}
/* line 90, ../sass/_sec-left.scss */
.sec-left .searh-and-sortable {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  outline: solid 3px #1B2F4A;
  margin-top: 3px;
}
/* line 96, ../sass/_sec-left.scss */
.sec-left .sortable {
  padding: 15px;
  outline: solid 3px #1B2F4A;
}
/* line 100, ../sass/_sec-left.scss */
.sec-left .sortable img {
  color: #357DDD;
}
/* line 105, ../sass/_sec-left.scss */
.sec-left .search {
  flex-wrap: nowrap;
}
/* line 108, ../sass/_sec-left.scss */
.sec-left .search label {
  padding: 15px;
}
/* line 112, ../sass/_sec-left.scss */
.sec-left .search input {
  background: transparent;
  border: none;
  padding: 15px 0;
  width: 100%;
}
/* line 118, ../sass/_sec-left.scss */
.sec-left .search input:focus {
  outline: none;
  box-shadow: none;
}
/* line 123, ../sass/_sec-left.scss */
.sec-left .search input:focus ~ label {
  background: red;
}

/*
================================================================================ 
|                                   .sec-right                                 |
================================================================================
*/
/* line 1, ../sass/_sec-right.scss */
.sec-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-right.scss */
.sec-right .top {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-right.scss */
.sec-right .bottom {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 15, ../sass/_sec-right.scss */
.sec-right .bottom .nav-tabs {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 19, ../sass/_sec-right.scss */
.sec-right .bottom .tab-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 25, ../sass/_sec-right.scss */
.sec-right .balance-top-side {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 30, ../sass/_sec-right.scss */
.sec-right .balance-top-side .title {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #768FAD;
}
/* line 38, ../sass/_sec-right.scss */
.sec-right .balance-top-side .title img {
  margin-right: 10px;
}
/* line 43, ../sass/_sec-right.scss */
.sec-right .balance-top-side .btn {
  background-color: #357DDD;
  color: #fff;
  margin: 12px 10px 12px 0;
  border-radius: 0;
}
/* line 51, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 15px 0;
}
/* line 56, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper > div {
  width: 50%;
}
/* line 60, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price,
.sec-right .balance-price-wrapper .total-profit {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding-left: 8%;
}
/* line 67, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span,
.sec-right .balance-price-wrapper .total-profit span {
  width: 100%;
}
/* line 72, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price {
  border-right: solid 3px #1B2F4A;
}
/* line 76, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span:first-of-type {
  font-size: 2.57142857rem;
  line-height: 1;
  margin-bottom: 10px;
}
/* line 82, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .price span:last-of-type {
  font-size: 1.14285714rem;
}
/* line 88, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit .title {
  font-size: 0.857142857rem;
  color: #395C86;
  line-height: 1.2;
}
/* line 94, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit__price {
  color: #00cf7a;
  font-size: 1.14285714rem;
  font-weight: 700;
}
/* line 100, ../sass/_sec-right.scss */
.sec-right .balance-price-wrapper .total-profit__amount {
  font-size: 1.14285714rem;
}
/* line 107, ../sass/_sec-right.scss */
.sec-right .new-order-wrapper .title {
  font-size: 0.857142857rem;
  color: #768fad;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px 15px;
  outline: solid 3px #1B2F4A;
}

/*
================================================================================
|                                 .sec-center-3                                |
================================================================================
*/
/* line 1, ../sass/_sec-center-3.scss */
.sec-center-3 {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-center-3.scss */
.sec-center-3 nav {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-center-3.scss */
.sec-center-3 .tab-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 14, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1b2f4a;
}
/* line 20, ../sass/_sec-center-3.scss */
.sec-center-3 .title {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 10px;
  color: #768FAD;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 29, ../sass/_sec-center-3.scss */
.sec-center-3 .table thead th {
  border-bottom: 3px solid #1b2f4a;
  border-top: none;
  background-color: #112137;
  color: #395C86;
  font-weight: 500;
}
/* line 38, ../sass/_sec-center-3.scss */
.sec-center-3 .table td,
.sec-center-3 .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #1b2f4a;
}
/* line 45, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 49, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-link {
  border: none;
}
/* line 54, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item.show .nav-link,
.sec-center-3 .nav-tabs .nav-link.active {
  position: relative;
  color: #495057;
  background-color: #112137;
  border-radius: 0;
  border: none;
  outline: solid 3px #1b2f4a;
  z-index: 1;
}
/* line 64, ../sass/_sec-center-3.scss */
.sec-center-3 .nav-tabs .nav-item.show .nav-link::after,
.sec-center-3 .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #112137;
}
/* line 75, ../sass/_sec-center-3.scss */
.sec-center-3 .table td,
.sec-center-3 .table th {
  vertical-align: middle;
}
/* line 80, ../sass/_sec-center-3.scss */
.sec-center-3 .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
/* line 85, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr td {
  white-space: nowrap;
}
/* line 90, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .currency {
  text-align: center;
}
/* line 93, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .currency span {
  display: block;
  margin-top: 5px;
  color: #768FAD;
}
/* line 101, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span {
  display: block;
}
/* line 105, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span:first-of-type {
  margin-bottom: 5px;
  color: #fff;
}
/* line 110, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .holding span:last-of-type {
  color: #768FAD;
}
/* line 116, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span {
  display: block;
}
/* line 120, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span:first-of-type {
  margin-bottom: 5px;
  color: #00CF7A;
}
/* line 126, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .price span:last-of-type {
  color: #fff;
}
/* line 131, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr .notify {
  text-align: center;
  padding-right: 30px;
}
/* line 138, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr.red .price span:first-of-type {
  color: #FF4B4B;
}
/* line 143, ../sass/_sec-center-3.scss */
.sec-center-3 tbody tr.red .price span:last-of-type img {
  display: inline-block;
  transform: rotate(180deg);
}

/*
================================================================================
|                                 .sec-center-4                                |
================================================================================
*/
/* line 1, ../sass/_sec-center-4.scss */
.sec-center-4 {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 5, ../sass/_sec-center-4.scss */
.sec-center-4 nav {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/* line 9, ../sass/_sec-center-4.scss */
.sec-center-4 .table-wrapper {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: auto;
}
/* line 14, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #1b2f4a;
}
/* line 20, ../sass/_sec-center-4.scss */
.sec-center-4 .title {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 10px;
  color: #768FAD;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 29, ../sass/_sec-center-4.scss */
.sec-center-4 .table thead th {
  border-bottom: 3px solid #1b2f4a;
  border-top: none;
  background-color: #112137;
  color: #395C86;
  font-weight: 500;
}
/* line 38, ../sass/_sec-center-4.scss */
.sec-center-4 .table td,
.sec-center-4 .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #1b2f4a;
}
/* line 45, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 49, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-link {
  border: none;
}
/* line 54, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item.show .nav-link,
.sec-center-4 .nav-tabs .nav-link.active {
  position: relative;
  color: #495057;
  background-color: #112137;
  border-radius: 0;
  border: none;
  outline: solid 3px #1b2f4a;
  z-index: 1;
}
/* line 64, ../sass/_sec-center-4.scss */
.sec-center-4 .nav-tabs .nav-item.show .nav-link::after,
.sec-center-4 .nav-tabs .nav-link.active::after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #112137;
}
/* line 75, ../sass/_sec-center-4.scss */
.sec-center-4 .table td,
.sec-center-4 .table th {
  vertical-align: middle;
}
/* line 81, ../sass/_sec-center-4.scss */
.sec-center-4 tbody tr td {
  white-space: nowrap;
}
/* line 86, ../sass/_sec-center-4.scss */
.sec-center-4 tbody tr td:nth-of-type(2) {
  color: #00CF7A;
}
/* line 91, ../sass/_sec-center-4.scss */
.sec-center-4 .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
