header .navbar {
    background-color: #112137;
    outline: solid 3px #1B2F4A;

    .navbar-brand {
        margin-right: 10%;
    }

    .log-in {
        outline: solid 2px #1B2F4A;
    }
}


@media screen and (max-width:992px) {

}

@media screen and (max-width:576px) {

}
