header .navbar {
    background-color: #112137;
    outline: solid 3px #1B2F4A;

    .navbar-brand {
        margin-right: 10%;
    }

    .log-in {
        outline: solid 2px #1B2F4A;
    }
    
    .navbar-right {
        .nav-item:not(:first-child) {
            margin-left: 35px;
        }
        
        .bell_circle {
            position: relative;
            right: 4px;
            vertical-align: super;
            display: inline-block;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: red;
        }
    }
    

}


@media screen and (max-width:992px) {

}

@media screen and (max-width:576px) {

}
