header .navbar {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 0.93rem;
    background-color: #112137;
    outline: solid 2px #1B2F4A;

    .navbar-brand {
        margin-right: 100px;
        font-family: "Gotham Pro";
        font-weight: bold;
        color: #61768b;
    }

    .log-in {
       //outline: solid 2px #1B2F4A;
        border: solid 2px #1B2F4A;
        padding: 5px 14px;
        border-radius: 2px;
    }
    
    .navbar-left {
        .nav-link {
            margin-right: 20px;
        }
    }
    
    .navbar-right {
        
        a {
            display: flex;
            align-items: center;
            
            &:hover path {
                fill:rgb(0,207,122);
            }
        }
        
        .nav-item {
        
        &:not(:first-child) {
            margin-left: 35px;
        }
            
            &:nth-child(2) {
                margin-left: 34px;
            }
            
            &:nth-child(3) {
                margin-left: 36px;
            }
            
            &:nth-child(4) {
                margin-left: 23px;
            }
            
        }
        
        .bell_circle {
            position: relative;
            bottom: 7px;
            vertical-align: super;
            display: inline-block;
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: red;
        }
    }
    
   .navbar-nav .nav-link {
        color: #ffffff;
    }
    

}


@media screen and (max-width:992px) {

}

@media screen and (max-width:576px) {

}
