.light_theme {
    background-color: #fff!important;
   
    
    .sec, .sec-left .searh-and-sortable, .sec-left .sortable, .sec-left .list .item, .sec-center-1 .chart_tab, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs, .sec-center-3 .tbl-header, .sec-center-1 .chart_wrapper .chart_settings .left_settings .selected, .sec-center-1 .chart_wrapper .chart_settings .right_settings, header .navbar .log-in, .sec-center-3 .table tr td, .sec-center-4 .table thead th, .sec-center-2 .b-thead .b-row, .sec-right .new-order-wrapper form .input-group, .sec-right .title, .sec-right .balance-price-wrapper .price, .sec-right .tbl-header, .sec-right .bottom .table td, .sec-right .bottom .table th   {
        border-color: #d8e2ef!important;
        outline-color: #d8e2ef!important;   
    }
    
    .sec-right .new-order-wrapper form .input-group-text {
        background-color: #d8e2ef!important;
        border-radius: 0;
    }
    
    header .navbar {
        box-shadow: 0 2px 0 #d8e2ef!important;
    }
    

     .sec-center-2 .nav-tabs, .sec-right .new-order-wrapper form input, .sec-right .new-order-wrapper h4.title, .sec-right .new-order-wrapper .nav-link, .sec-right .orders-wrapper .title , .sec-right .bottom .nav-tabs .nav-link {
        background-color: #fff!important;
     
    }
    
    .sec-left, header .navbar, .sec-center-1, .sec-center-2, .sec-center-2 .b-thead .b-row, .sec-center-2 .b-thead span, .sec-center-3 .tab-content, .sec-center-3 .table thead tr th, .sec-center-3 .nav-tabs .nav-link.active, .sec-center-4 .table-wrapper, .sec-center-4 .table thead th, .sec-right, .sec-right .new-order-wrapper form, .sec-right .nav-tabs .nav-link.active, .sec-right .bottom .table thead th, .sec-right .tbl-header {
        background-color: #f6f9fc!important;
    }
    
    .sec-right .nav-tabs .nav-link.active {
        border-bottom-color: #f6f9fc!important;
    }
    
    .sec-right .nav-tabs .nav-link {
        border-color: #d8e2ef!important;
    }
    
    .sec-right {
        
        .new-order-wrapper {
            .custom-radio .custom-control-input {
                
                & ~ .custom-control-label::before {
                        background-color: #fff!important;
                    box-shadow: inset 0 0 0 2px #b6c3d2!important;
                    }

                    &:checked ~ .custom-control-label {
                        color: inherit;
                        &::before {
                            box-shadow: inset 0 0 0 2px #b6c3d2!important;
                        }
                        
                        &::after {
                        
                        }
                }
                
            }
        }
    }
    
    /* light scrollbar */
    
     .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        background-color: #d8e2ef!important;
    }
    
    .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
        background-color: transparent!important;
    }
    
    
}