.login_modal {
    
    .modal-body {
        padding: 0 4.4285rem;
    }
    
    .form_wrapper {
        width: 100%;
        margin: 2.0714rem auto 0 auto;
        
        form {
          @include d-flex;
          @include flex-direction(column);
            margin-bottom: 3.2857rem;
            
             input[type="text"], input[type="password"] {
                background-color: #1b2f4a;
                border: none;
                color: #fff;
                border: 2px solid #2c496c;
                margin-bottom: 1.1428rem;
                
                &:focus {
                    transition: none;
                    border-color: #357ddd;
                    box-shadow: none;
                }
            }
            
            .login-btn {
                background-color: #357ddd;
                color: #fff;
                margin-bottom: 2.5rem;
            }
            
            .form-span__wrapper {
                @include d-flex;
                @include justify-content(space-between);
            }
        }
    }
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 384px;
    } 
}