@mixin d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

@mixin flex($flex){
	-webkit-flex: $flex;
	    -ms-flex: $flex;
	        flex: $flex;
}

@mixin flex-wrap($wrap){
	-webkit-flex-wrap: $wrap;
	    -ms-flex-wrap: $wrap;
	        flex-wrap: $wrap;
}

@mixin flex-basis($flex-basis) {
    -webkit-flex-basis: $flex-basis;
	    -ms-flex-basis: $flex-basis;
	        flex-basis: $flex-basis;
}

@mixin justify-content($align){
	-webkit-justify-content: $align;
	        justify-content: $align;
}

@mixin align-items($align){
	-webkit-align-items: $align;
	        align-items: $align;
}

@mixin align-content($align){
	-webkit-align-content: $align;
	        align-content: $align;
}

@mixin align-self($align-self){
	-webkit-align-self: $align-self;
	        align-self: $align-self;
}

@mixin flex-direction($direction){
	-webkit-flex-direction: $direction;
	    -ms-flex-direction: $direction;
	        flex-direction: $direction;
}

@mixin order($order){
	-webkit-order: $order;
	    -ms-order: $order;
		    order: $order;
}

@mixin filter($filter){
	-webkit-filter: $filter;
            filter: $filter;
}

@mixin appearance($appearance){
	-webkit-appearance: $appearance;
       -moz-appearance: $appearance;
            appearance: $appearance;
}

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin box-shadow($shadow...){
	-webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}

@mixin transition($transition...){
	-webkit-transition: $transition;
	   -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
			transition: $transition;
}

@mixin transition-timing-function($transition-timing-function){
    -webkit-transition-timing-function: $transition-timing-function;
       -moz-transition-timing-function: $transition-timing-function;
        -ms-transition-timing-function: $transition-timing-function;
         -o-transition-timing-function: $transition-timing-function;
            transition-timing-function: $transition-timing-function;
}

@mixin transition-delay($transition-delay){
    -webkit-transition-delay: $transition-delay;
       -moz-transition-delay: $transition-delay;
        -ms-transition-delay: $transition-delay;
         -o-transition-delay: $transition-delay; 
            transition-delay: $transition-delay;
}

@mixin animation($animation...){
	-webkit-animation: $animation;
	   -moz-animation: $animation;
			animation: $animation;
}

@mixin transform-origin($origin){
	-webkit-transform-origin: $origin;
	   -moz-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	     -o-transform-origin: $origin;
	        transform-origin: $origin;
}

@mixin transform($transform){
	-webkit-transform: $transform;
	   -moz-transform: $transform;
	    -ms-transform: $transform;
	     -o-transform: $transform;
	        transform: $transform;
}

@mixin background-size($size){
	-webkit-background-size: $size;
	   -moz-background-size: $size;
	        background-size: $size;
}

@mixin box-sizing($size){
	-webkit-box-sizing: $size;
	   -moz-box-sizing: $size;
	        box-sizing: $size;
}

@mixin placeholder($elements...){
	$placeholders-set: "::-webkit-input-placeholder", "::-moz-placeholder", ":-moz-placeholder", ":-ms-input-placeholder", "::placeholder";

	@each $placeholder in $placeholders-set {
		$selector: ();

		@each $element in $elements {
			$selector: append($selector, #{$element}#{$placeholder}, comma);
		}

		#{$selector} {
			@content;
		}
	}
}
