.modal-open .main-wrapper {
          filter: blur(3px);
      }  

.modal {
    color:#768FAD;
    
    .modal-content {
         border: solid 2px #1b2f4a;
        background-color: #101e32;
    }
    
    .modal-body {
        padding: 10px;
    }
    
    .modal-header {
        background-color: #1b2f4a;
        border-bottom: none;
        padding: 0.5rem;
    }
    
    .close {
        text-shadow: none;
    }
    
    .select-money {
        @include d-flex;
        justify-content: flex-start;
        padding: 0 10px;  
        border-bottom: 2px solid #1b2f4a;

        .item {
            padding: 15px 5px;
            border-bottom: solid 2px transparent;
            margin-bottom: -2px;
            color: #395C86;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            z-index: 1;
            margin-right: .5rem;

            &:hover {
                color: rgba(53, 125, 221, 0.7);
                border-color: rgba(53, 125, 221, 0.5);
            }
        }

        .item.selected {
            color: #357DDD;
            border-color: #357DDD;
        }
    }
     
}

