.modal-open .main-wrapper {
          filter: blur(3px);
      }  

.modal {
    color:#768FAD;
    
    .modal-content {
         border: solid 2px #1b2f4a;
        background-color: #101e32;
    }
    
    .modal-body {
        padding: 10px;
    }
    
    .modal-header {
        background-color: #1b2f4a;
        border-bottom: none;
        padding: 0.5rem;
    }
    
    .close {
        text-shadow: none;
    }
    
    .form_wrapper {
        
        form {
          @include d-flex;
          @include flex-direction(column);
            
             input[type="text"], input[type="password"] {
                background-color: #1b2f4a;
                border: none;
                color: #fff;
                border: 2px solid #2c496c;
                margin-bottom: 1rem;

                &::-moz-placeholder {
                    color: #768fad;
                }

                &::-webkit-input-placeholder {
                    color: #768fad;
                }
                
                &:focus {
                    transition: none;
                    border-color: #357ddd;
                    box-shadow: none;
                }
            }
            
            .login-btn {
                background-color: #357ddd;
                color: #fff;
                margin-bottom: 1rem;
            }
            
        }
    }
     
}

