.modal-open .main-wrapper {
          filter: blur(3px);
      }  

.modal {
    color:#768FAD;
    
    .modal-content {
         border: solid 2px #1b2f4a;
        background-color: #101e32;
    }
    
    .modal-body {
        padding: 10px;
    }
    
    .modal-header {
        background-color: #1b2f4a;
        border-bottom: none;
        padding: 0.5rem;
    }
    
    .close {
        text-shadow: none;
    }
    
   
     
}

