.orders-wrapper {
    width: 100%;
    padding: 0 15px;
    
    .page-header {
        font-size: 1.14285714rem;
        margin: 20px 5px;
    }
    
    .header-select {
        width: 100%;
        @include justify-content(flex-start);
        border-bottom: 2px solid #1b2f4a;
        padding: 0;
        overflow-x: auto;
        
        .item {
            padding: 10px 0;
            text-transform: uppercase;
            
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
    
    .tab-content>.active {
        overflow-x: auto;
    }
    
    .nav-pills {
        @include d-flex;
        width: 100%;
        @include justify-content(flex-start);
        border-bottom: 2px solid #1b2f4a;
        padding: 0;
        margin: 22px 0;
        
        .nav-item:not(:last-of-type) {
            margin-right: 50px;
        }
        
        .nav-link {
            padding: 10px 0;
            border-bottom: solid 2px transparent;
            margin-bottom: -2px;
            color: #395C86;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            background-color: transparent;
            @include border-radius(0);
            z-index: 1;
            
            &:hover {
                color: rgba(53, 125, 221, 0.7);
                border-color: rgba(53, 125, 221, 0.5);
            }
            
            &.active {
                color: #357DDD;
                border-color: #357DDD;
            }
        }
    }
    
    .table {        
        thead th {
            border-top: 2px solid #1b2f4a;
            border-bottom: 2px solid #1b2f4a;
            background-color: #112137;
            color: #395C86;
            font-weight: 500;
            font-size: 0.857142857rem;
            white-space: nowrap;
            
            .b-icon {
                font-size: .5rem;
                margin-left: 9px;
            }
        }
        
        td.close {
            opacity: 1;
            float: inherit;
            text-align: center;
            width: 40px;
            text-shadow: none;
            
            .b-icon {
                color: #2c496c;
            }

            &:hover .b-icon {
                color: #357ddd;
            }
        }
        
        td,
        th {
            padding: .6rem 1.2rem;
            vertical-align: top;
            border-bottom: 1px solid #1b2f4a;
        }
        
        td {
            padding: .75rem 1.2rem;
        }
        
        td:nth-of-type(3) {
            color: #00cf7a;

            &.red {
                color: #ff4b4b;
            }
        }
    }
    
    .pagination-wrapper {
        @include d-flex;
        @include justify-content(flex-start);
        @include align-items(center);
        margin-top: 10px;
    }
    
    .total-posts {
        color: #395C86;
        margin-left: 30px;
    }
    
    .pagination {
        @include align-items(center);
        margin-bottom: 0;        
        .page-item.active .page-link {
            font-size: 1rem;
            color: #357DDD;
        }
        
        .page-link {
            background-color: transparent;
            border: none;
            font-size: 0.928571429rem;
            color: #395C86;
            line-height: 1;
            
            &:hover {
                color: #357DDD;
            }
        }
        
        .b-icon {
            font-size: 9px;
        }
    }
}

