.registration_wrapp {
    color:#395c86;
    font-size: 0.93rem;
    font-weight: 500;
    width: 100%;
    
    .modal-dialog {
        margin-top: 0;
    }
    
    .registration-content {
        max-width: 600px;
        margin: 0 auto;
        border: none;
        background-color: transparent;
    }
    
    .registration-body {
        padding: 2.5rem 3.57142857rem .5rem 3.57142857rem;
    }
    
    .registration-header {
        @include align-items(center);
        background-color: transparent;
        border-bottom: solid 2px #1b2f4a;
        padding: 3.92857143rem 3.57142857rem 2.3rem 3.57142857rem;
        line-height: 1;
        
        .close span:hover {
            color: #357ddd;
        }
    }
    
    .modal-title {
        font-size: .86rem;
    }
    
    .close {
        text-shadow: none;
    }
    
    .form_wrapper {
        
        .input_wrapper {
            margin-bottom: 1.14rem;
        }
        
        form {
          @include d-flex;
          @include flex-direction(column);
            
             input[type="text"], input[type="password"] {
                background-color: #1b2f4a;
                border: none;
                color: #fff;
                border: 2px solid #2c496c;
                

                &::-moz-placeholder {
                    color: #395c86;    
                    font-size: 0.93rem;
                    
                }

                &::-webkit-input-placeholder {
                    color: #395c86;
                    font-size: 0.93rem;
                    
                            
                }
                
                &:focus {
                    transition: none;
                    border-color: #357ddd!important;
                    box-shadow: none;
                }
            }
            
            .login-btn {
                background-color: #357ddd;
                color: #fff;
                margin-bottom: 1rem;
            }
            
        }
    }
    
    a:hover {
        text-decoration: none; 
    }

    .header_text {
        width: 100%;
        @include d-flex;
        @include justify-content(space-between);
        @include align-items(center);

        h5 {
            color: #fff;
            font-size: 1.14rem;
            margin: 0;
        }
        
        a {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .form_wrapper {
        form {
            .input_wrapper {
                @include d-flex;
                @include align-items(center);

                label {
                    @include flex-basis(45%);
                }

                input {
                    @include flex-basis(55%);
                    padding: .7rem 1.14rem;
                    border-radius: 2px;
                    line-height: 1;
                }
                           
                .input-group {
                    @include flex-basis(55%);
                    border: 2px solid #2c496c;
                    border-radius: 2px;
                    
                    &.confirmation-wrapper {
                        @include flex-direction(row-reverse);
                    }
                    
                    &.password-wrapper {
                        border: none;
                        
                        .form-control {
                            border: 2px solid #2c496c;
                            border-radius: 2px 0 0 2px; 
                            border-right: none;
                            transition: none;
                            
                            &:focus {
                                border-color: #357ddd;
                            }
                            
                            &:focus + .input-group-append {
                                .input-group-text {
                                    border-color: #357ddd;
                                }
                                
                                .b-icon {
                                    color: #357ddd;
                                }
                            }
                        }
                        
                        .input-group-text {
                            background-color: #1b2f4a;
                            border: 2px solid #2c496c;
                            border-radius: 0 2px 2px 0;
                            border-left: none;
                        }
                    }
                    
                    input.confirm {
                        margin: 0;
                        border: none;
                        border-radius: 0;
                        
                        &:focus {
                           box-shadow: 0 0 0 2px #357ddd;
                            
                            &+div {
                                box-shadow: 0 0 0 2px #357ddd;
                            }
                        }
                    } 
                    
                    .input-group-text {
                        background-color: #0c1b2f;
                        border-radius: 0;
                        margin-left: 1px;
                        border: none;
                        color: #007bff;
                        font-weight: bold;
                        font-size: 0.93rem ;
                        
                    }
                }
            }
            
            .checkbox_wrapper {
                @include d-flex;
                @include justify-content(flex-end);
                
                .custom-control {
                    padding-left: 1.8rem;
                }
                
                .custom-control-input:focus~.custom-control-label::before {
                    box-shadow: none !important;
                }
                

                .custom-control-label {
                   
                    &::before {
                        background-color:#1b2f4a;
                        border: 2px solid #2c496c;
                        width: 1.28rem;
                        height: 1.28rem;
                        top:.1rem;
                    }
                    
                }
                
                .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
                    background: none;
                    content: "";
                    position: absolute;
                    left: 0;
                    top:50%;
                    width: .35rem;
                    height: .6rem;
                    background-color: transparent;
                    border-bottom: 2px solid #35a7dd;
                    border-right: 2px solid #35a7dd;
                    @include transform(translate(.5rem,-70%) rotate(45deg));
                    
                }

                & > div {
                    @include flex-basis(55%);
                    @include align-items(flex-end);
                }
            }
            
            .button_wrapper {
                @include d-flex;
                @include justify-content(flex-end);
                margin-top: 2.2rem;

                button {
                    @include flex-basis(55%);
                    border-radius: 2px;

                }
            }
                       
            /* need to fix! */
            input[type="password"] {
                -webkit-text-stroke-width: .3em;
                letter-spacing: 0.6em;

                &::-moz-placeholder {
                     -webkit-text-stroke-width: .01em;
                    letter-spacing: .01em;
                }

                &::-webkit-input-placeholder {
                    -webkit-text-stroke-width: .01em;
                    letter-spacing: .01em;
                }
                /* need to fix! */
            }
            
        }

    }
    
    @media screen and (min-width: 576px) {

        .modal-dialog {
            max-width: 600px;
        }
    }
}

