.reset-password {
    .captcha-wrapper {
        display: flex;
        justify-content: space-between;
        
        .captcha {
            width: 40%;
            border: 2px solid red;
        }
        
    }
}