.sec-right {
    @include d-flex;
    @include flex-direction(column);
    border-right: none;
//    border-bottom: none;

    .top {
        @include flex(0 1 auto);
    }

    .bottom {
        @include flex(1 1 auto);

        @include d-flex;
        @include flex-direction(column);

        .nav-tabs {
            @include flex(0 1 auto);
        }

        .tab-content {
            @include flex(1 1 auto);
            overflow: hidden;
        }
    }

    .balance-top-side {
        @include d-flex;
        @include align-items(center);
        @include justify-content(space-between);

        .title {
            @include d-flex;
            @include align-items(center);
            padding: 15px 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #768FAD;
            font-size: 0.85rem;

            .b-icon {
                margin-right: 13px;
                color: #768FAD;
                font-size: 1.1rem;
            }
        }

        .btn {
            background-color: #357DDD;
            color: #fff;
            margin: 15px 6px 12px 0;
            border-radius: 2px;
            padding: 3px 14px;

            &:last-child {
                margin-right: 12px;
            }
        }
    }

    .balance-price-wrapper {
        @include d-flex;
        @include align-items(flex-start);
        margin: 15px 0;



        .price,
        .total-profit {
            @include d-flex;
            @include flex-wrap(wrap);
            @include align-items(flex-start);
            padding-left: 5%;

            span {
                width: 100%;
                font-family: 'Ubuntu Mono';
            }
        }


        .price {
            padding: 0 3.5% 0 2%;
            border-right: solid 2px #1B2F4A;


            span:first-of-type {
                font-size: 2.57142857rem;
                line-height: 1;
                margin-bottom: 5px;
                font-family: 'Ubuntu Mono';
            }

            span:last-of-type {
                font-size: 1.14285714rem; //1.14285714rem
            }
        }

        .total-profit {
            .title {
                font-size: 0.857142857rem;
                color: #395C86;
                line-height: 1.2;
                margin-bottom: 0;
            }

            &__price {
                color: #00cf7a;
                font-size: 1.14285714rem;
                font-weight: 700;
            }

            &__amount {
                font-size: 1.14285714rem;
                font-weight: 400;
            }
        }
    }

    .new-order-wrapper {
        .title {
            font-size: 0.857142857rem;
            color: #768fad;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100%;
            padding: 10px 15px;
            outline: solid 2px #1B2F4A;
            margin: 0;
            margin-bottom: 2px;
        }

        .nav-tabs {
            @include d-flex;
            @include flex-wrap(nowrap);
            border: none;
            margin-bottom: 0;
            border-bottom: solid 2px #1b2f4a;
        }

        .nav-link {
            width: 53%;
            border-radius: 0;
            text-align: center;
            border: none;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 0.857142857rem;
            color: #395c86;
            padding: .7rem 1rem;
            border: solid 2px transparent;
            margin: -2px;
        }

        form {
            background-color: #112137;
            padding: 15px;
            color: #395c86;

            .checkboxes {
                padding: 0 1rem 1rem;

                .custom-radio .custom-control-input {
                    
                    
                    //position: relative;

                    &:checked ~ .custom-control-label {
                       

                        &::before {
                            background-color: #1b2f4a;
                            box-shadow: inset 0 0 0 2px #2c496c; 
                        }
                        
                        &::after {
                            background: none;
                           left: .5rem;
                            top:50%;
                            width: .3rem;
                            height: .3rem;
                            background-color: #35a7dd;
                            @include transform(translate(-50%,-50%));
                            border-radius: 50%;
                        }

                    }

                    & ~ .custom-control-label::before {
                        background-color: #1b2f4a;
                    }
                    
                    &:focus.custom-control-input:focus~.custom-control-label::before {
                        box-shadow: inset 0 0 0 2px #2c496c; 
                        
                    }

                }

            }

            input[type="radio"]:checked + .custom-control-label {
                color: #fff;
            }

            input[type="number"] {
                background-color: #1b2f4a;
                border: none;
                color: #fff;

                &::-moz-placeholder {
                    color: #768fad;
                }

                &::-webkit-input-placeholder {
                    color: #768fad;
                }
                
                &:focus {
                    transition: none;
                    box-shadow: 0 0 0 2px #357ddd;
                
                    &+div {
                        box-shadow: 0 0 0 2px #357ddd;
                        
                        span {
                            color:#357ddd;
                        }
                    }
                    
                    
                }
            }

            .input-group {
                border: 2px solid #2c496c;
                border-radius: 2px;

                &-text {
                    background-color: #101e32;
                    border: none;
                    width: 50px;
                    color: #395c86;
                }
            }

            .custom-control-label {
                color: #395c86;
            }

            .custom-control-label::before {
                background-color: #324864;
            }

            .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
                background-color: #357ddd;
            }

            .btn {
                width: 100%;
                text-align: center;
                background: #00cf7a;
                color: #ffffff;
                border-radius: 2px;
            }

            .total-amount {
                @include d-flex;
                @include align-items(center);

                .title {
                    padding-left: 0;
                    text-transform: none;
                    outline: none;
                    color: #395c86;
                }

                .price {
                    white-space: nowrap;
                    font-family: 'SegoeUI';
                    color: #fff;

                    span {
                        color: #768fad;
                    }
                }
            }
        }
    }

    .orders-wrapper {
        .title {
            font-size: 0.857142857rem;
            color: #768fad;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 100%;
            padding: 10px 15px;
            outline: solid 2px #1B2F4A;
            margin: 0;
            margin-bottom: 2px;
        }

        .price {
            white-space: nowrap;
            padding-right: 10px;
        }
    }

    .bottom {
        .nav-tabs {
            @include d-flex;
            align-items: center;
            border-bottom: 2px solid #1b2f4a;
        }

        .table thead th {
            border-bottom: none;
            border-top: none;
            background-color: #112137;
            color: #395C86;
            font-weight: 500;
            font-size: 0.857142857rem;
            white-space: nowrap;
        }

        .table td,
        .table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #1b2f4a;
        }
        
        .table tr:first-of-type td {
            border: none; 
        }
        
        .table tr td:first-of-type,
        .table tr th:first-of-type {
            width: 70px;
        }
        
        .nav-tabs .nav-link {
            border: none;
            font-family: 'Montserrat'; 
            font-weight: 500;
            font-size: 0.857142857rem;
            color: #395c86;

            &.active {
                color: #357ddd;
            }
        }

        .table td,
        .table th {
            vertical-align: middle;
        }

        .mCSB_inside > .mCSB_container {
            margin-right: 10px;
        }
        
        .table th:last-of-type {
            width: 40px;
        }

        td.type {
            color: #00cf7a;

            &.red {
                color: #ff4b4b;
            }
        }

        td.close {
            opacity: 1;
            float: inherit;
            text-align: center;
            width: 40px;
            text-shadow: none;
            
            .b-icon {
                color: #2c496c;
            }

            &:hover .b-icon {
                color: #357ddd;
            }
        }
    }
    
        table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: 0;
    }
    
    .tbl-header {
        padding-right: 10px;
        background-color: #112137;
        border-bottom: solid 2px #1b2f4a;
    }
    
    .tbl-content {
        height: 115px;
        overflow-x: auto;
        overflow-y: auto; 
        padding: 0;
    }
}


