.sec-center-2 {
    @include d-flex;
    @include flex-direction(column);
    border-radius: 2px;

    nav {
        @include flex(0 1 auto);
    }

    .table-wrapper {
        @include flex(1 1 auto);
        overflow: hidden; 
    }

    .nav-tabs {
        @include d-flex;
        align-items: center;
        border-bottom: 2px solid #1b2f4a; 
    }
    
    tr:hover {
        background-color: #1B2F4A;
    }
    
    td {
        text-align: right;
    }
    
    .tbody-green {
        border: none;
        
        tr td:last-of-type {
            padding-right: 2rem;
        }
    }
    
    .tbody-red {
        tr td:first-of-type {
            color: #FF4B4B; 
        }
        
        tr td:last-of-type {
            padding-right: 2rem;
        }
    }
    
    tbody.center-text {
        background-color: #1B2F4A;
        border: none;
        margin: .4rem 0;
        
        h4 {
            text-align: center;
            color: #768FAD;
            font-size: 1rem; 
            
            span {
                color: #FF4B4B;
                margin-left: 10px;
            }
        }
    }

    .title {
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 10px; 
        color: #768FAD;
        font-size: 0.857142857rem;
        text-transform: uppercase;
    }

    .table thead th {
        border-bottom: 2px solid #1b2f4a;
        border-top: none;
        background-color: #112137;
        color: #395C86;
        font-weight: 500;

    }

    .table td,
    .table th {
        padding: .5rem .75rem;
        vertical-align: top;
        border-top: none;
    }

    .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .nav-tabs .nav-link {
        border: none;
    }


    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        position: relative;
        color: #495057;
        background-color: #112137;
        border-radius: 0;
        border: none;
        outline: solid 2px #1b2f4a;
        z-index: 1;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #112137;
        }
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    tbody tr {
        td {
            white-space: nowrap;

        }

        td:nth-of-type(2) {
            color: #00CF7A;
        }
    }

    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    } // checkbox
    .checkbox-wrapper {
        @include d-flex;
        @include align-items(center);
        
        span {
            color: #395c86;
        }

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 40px;
            height: 20px;
            background-color: #1b2f4a;
            display: block;
            border-radius: 20px;
            position: relative;
            margin: 0;
            margin-right: 10px;

            &:after {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                background: #fff;
                border-radius: 16px;
                transition: 0.3s;
            }
        }

        input:checked + label {
            background: #357ddd;
        }

        input:checked + label:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 25px;
        }

    }
    
    .b-table-wrapper {
        overflow: auto;
    }
    
    .b-thead {
        
        .b-row {
            width: 100%;
            @include d-flex;
            padding-right: 15%;
            background-color: #112137;
            border-bottom: 2px solid #1b2f4a;
        }
        
        span {
            background-color: #112137;
            color: #395C86;
            font-weight: 500;
            font-size: 0.857142857rem;
            white-space: nowrap;
            padding: .75rem;
            text-align: right;
            
            &:nth-of-type(1) {
                width: 30%;
                text-align: left;
                padding-left: 5%;
            }
            
            &:nth-of-type(2) {
                width: 40%;
                text-align: center;
            }
            
            &:nth-of-type(3) {
                width: 30%;
            }
        }
    }
    
    .center-title {
        text-align: center;
        color: #768FAD;
        font-size: 1rem;
        font-family: 'SegoeUI'; 
        padding: .5rem .75rem;
        background-color: #1B2F4A;
        margin: 0;
        
        span {
                color: #FF4B4B;
                margin-left: 10px; 
        }
    }
    
    .b-table {
        @include d-flex;
        @include flex-wrap(wrap);
        
        .b-row {
            width: 100%;
            @include d-flex;
            text-align: right;
            padding-right: 15%;
            position: relative;
            
            &:hover {
                background-color: #1B2F4A;
            }
            
            span {
                padding: .5rem .75rem;
                font-family: 'SegoeUI';
                overflow: hidden;
                z-index: 1;
                
                &:nth-of-type(1) {
                    width: 30%;
                }
                
                &:nth-of-type(2) {
                    width: 40%;
                    text-align: center;
                }
                
                &:nth-of-type(3) {
                    width: 30%;
                }
            }
        }
        
        &.top {
//            background: rgba(227, 102, 102, 0.32);
            
            .b-row {
                span:nth-of-type(1) {
                    color: #FF4B4B;
                }
            }
            
            .b-progress {
                background-color: rgba(255, 75, 75, 0.2);
            }
        }
        
        &.bottom {
//            background: rgba(155, 227, 102, 0.32);
            
            .b-row {
                span:nth-of-type(1) {
                    color: #00CF7A;
                }
            }
            
            .b-progress {
                background-color: rgba(0, 207, 122, 0.2);
            }
        } 
        
        .b-progress {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
        }
    }
} 








