.sec-center-3 {
    @include d-flex;
    @include flex-direction(column);
    border-radius: 2px;
    
    nav {
        
        @include flex(0 1 auto);
    }

    .tab-content {
         background-color: #112137;
        @include flex(1 1 auto);
        overflow: hidden;
        
        .checked .bell_wrapp path {
            fill:#357ddd;
        }
    }
    
    .nav-tabs {
        @include d-flex;
        align-items: center;
        border-bottom: 2px solid #1b2f4a;
    }

    .title {
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 10px;
        color: #768FAD; 
        font-size: 0.857142857rem;
        text-transform: uppercase;
    }

    .table thead tr th {
        border: none;
        background-color: #112137;
        color: #395C86;
        font-weight: 500;
        font-size: 0.857142857rem;
        white-space: nowrap;
    }

    .table tr td,
    .table tr th {
        padding: .75rem 0; 
        vertical-align: middle;
        border-top: 1px solid #1b2f4a;
        
        &:first-of-type {
            width: 70px;
        }
        
        &:last-of-type {
            width: 20px;
        }
    }
    
    .table tr:first-of-type td {
        border: none;
    }
    
    

    .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .nav-tabs .nav-link {
        border: none;
        @include d-flex;
        @include align-items(center);
        @include align-self(stretch);
    }


    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        position: relative;
        color: #495057;
        background-color: #112137;
        border-radius: 0;
        border: none;
        outline: solid 2px #1b2f4a;
        z-index: 1;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #112137;
        }
        
        path {
            fill: #357ddd;
        }
    }
    
    .mCSB_inside > .mCSB_container {
        margin-right: 30px;
        margin-left: 15px;    
    }
    
    tbody tr {
       
        td {
            white-space: nowrap;
            
        }

        .currency {
            text-align: left;
            
            path {
                fill:#768fad;
            }

            span {
                display: block;
                color: #768FAD;
            }
        }

        .holding {
            span {
                display: block;
            }

            span:first-of-type {
                margin-bottom: 5px;
                color: #fff;
            }

            span:last-of-type {
                color: #768FAD;
            }
        }

        .price {
            span {
                display: block;
            }

            span:first-of-type {
                margin-bottom: 5px;
                color: #00CF7A;

            }

            span:last-of-type {
                color: #fff;
            }
        }

        .notify {
            text-align: right;
            
            .bell_wrapp:hover {
                cursor: pointer;
            }
        }

        &.red {
            .price {
                span:first-of-type {
                    color: #FF4B4B;
                }
                
                span:last-of-type {
                    svg {
                        display: inline-block;
                        transform: rotate(180deg);
                        
                        path {
                            fill: #FF4B4B;
                        }
                    }
                }
            }
        }
    }
    
    .tbl-header {
        padding-right: 30px;
        padding-left: 15px;
        border-bottom: 2px solid #1b2f4a;
    }
    
    .tbl-header table {
        margin-bottom: 0;
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin: 0;
    }

    .tbl-content {
        height: 115px;
        overflow-y: auto; 
        padding: 0;
        margin: 0;
    }
}