.sec-center-1 {
    border-radius: 2px;
    
    .chart_tab {
        display: flex;
        border-bottom: 2px solid #1b2f4a; 
        padding: 0 1rem;
        
        
        .item {
            border-bottom: 2px solid transparent;
            cursor: pointer;
            margin-bottom: -2px;
            color: #395c86;
            padding: 8px 0;
            margin-right: 1.7rem;
            font-weight: 700;
            
        }
        .selected {
                color: #357DDD;
                border-color: #357DDD; 
            }
    }
    
    .chart_wrapper {
        padding: 1rem;
        
        .chart_settings {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .left_settings {
                display: flex;
                flex-direction: row;
                color: #395c86;
                
                .tab {
                    padding: .3rem;
                    margin-right: 1rem;
                    font-weight: 700;
                    cursor: pointer;
                }
                
                .selected {
                        outline: 2px solid #1b2f4a; 
                        color: #357ddd;
                }
            }
            
            svg {
                display: block;
            }
            
            .right_settings {
                cursor: pointer;
                padding: .3rem;
                outline: 2px solid #1b2f4a; 
             
            
            }
        }
    }
}