.withdraw_modal {
    
    .b-icon {
        font-size: 1rem;
    }
     .select-money {
         background-color: #0C1B2F;
        @include d-flex;
         @include justify-content(flex-start);
        padding: 0 10px;  
        border-bottom: 2px solid #1b2f4a;

        .item {
            padding: 15px 5px;
            border-bottom: solid 2px transparent;
            margin-bottom: -2px;
            color: #395C86;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
            z-index: 1;
            margin-right: .5rem;

            &:hover {
                color: rgba(53, 125, 221, 0.7);
                border-color: rgba(53, 125, 221, 0.5);
            }
        }

        .item.selected {
            color: #357DDD;
            border-color: #357DDD;
        }
    }
    
    .modal-body {
        
        background-color: #0C1B2F;
        
        .modal-body-top {
            font-family: "Segoe UI";
            font-weight: 400;
            font-size: 1rem;
            color: #768fad;
            padding: 10px 0;
            border-bottom: 1px solid #1b2f4a;
            
            .b-icon-attantion {
                color: #ff4b4b;
            }
            
            .b-icon-wallet {
                color: #768fad;
            }
            
            .d-flex {
                margin-bottom: 0.5rem;
            }
            
            .b-icon {
                margin-right: 1rem;
                
            }
        }
        
        .modal-body-bottom {
            padding-top: 10px;
            
            form {
                 .input_wrapper {
                    @include d-flex;
                    @include align-items(center);
                     
                     .add_adress {
                         @include d-flex;
                         @include align-items(center);
                         @include flex-basis(25%);
                         @include justify-content(center);
                          
                         span {
                             color:#357DDD;
                             margin-left: 0.5rem;        
                         }
                     }

                label {
                    @include flex-basis(35%);
                }

                           
                .input-group {
                    @include flex-basis(40%);
                    border: 2px solid #2c496c;
                    border-radius: .25rem;
                    
                    input.confirm {
                        margin: 0;
                        border: none;
                        border-radius: 0;
                        
                        &:focus {
                           box-shadow: 0 0 0 2px #357ddd;
                            
                            &+div {
                                box-shadow: 0 0 0 2px #357ddd;
                            }
                        }
                    } 
                    
                    .input-group-text {
                        background-color: #0c1b2f;
                        border-radius: 0;
                        margin-left: 1px;
                        border: none;
                        color: #2c496c;
                        font-weight: bold;
                        font-size: 0.93rem ;
                        
                    }
                    
                    .dropdown-toggle::after {
                        border-top-width: .4em;
                        color:#fff;
                    }
                }
                     
                     input[type="password"] {
                         border: none;
                     }
            }
                
                .button_wrapper {
                @include d-flex;
                @include justify-content(flex-end);
                    

                button {
                    @include flex-basis(40%);
                    margin-right: 25%;

                }
            }
            }
        }
    }
    
    @media screen and (min-width: 576px) {

        .modal-dialog {
            max-width: 635px;
        }
    }
}