@import "mixins";

/* Font for HEADER */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Medium.woff') format('woff'),
		url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/*Font for HEADER logo */
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/*Font Ubuntu Mono */
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-Regular.eot');
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'),
        url('../fonts/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/UbuntuMono-Regular.woff') format('woff'),
        url('../fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Font SegoeUIRegular */
@font-face {
    font-family: 'SegoeUI';
    src: url('../fonts/SegoeUIRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
================================================================================
|                                 GLOBAL STYLE                                 |
================================================================================
*/

html {
    font-size: 14px;
    font-family: 'Montserrat'; 
    
}

body {
    background-color: #0C1B2F;
    color: #fff;
    font-size: 14x;
    font-family: 'Montserrat';
    overflow: hidden;
}

.main-content {
    outline: solid 2px #1B2F4A;
}

.sec {
   // outline: solid 3px #1B2F4A;
    border: 2px solid #1B2F4A;
}

.table td {
    font-family: 'SegoeUI';
}


/*
================================================================================
|                                   MAIN GRID                                  |
================================================================================
*/

.main-wrapper {
    @include d-flex;
    @include flex-direction(column);
    height: 100vh;
    
}

header {
    @include flex(0 1 auto);
}

.main-content {
    max-height: calc(100vh - 50px);
    @include d-flex;
    align-items: stretch;
}

.sec-left {
    flex-basis: 10.6%;
    overflow: auto;
}

.sec-center {
    @include flex-basis(68.9%);
    @include d-flex;
    padding: 0.714285714rem 1.42857143rem 0.428571429rem;

    .left {
        @include flex-basis(66.5%);
        @include d-flex;
        @include flex-direction(column);

        .top {
            @include flex(0 1 auto);
        }

        .bottom {
            @include flex(1 1 auto);
            @include d-flex;
        }
    }

    .right {
        @include flex-basis(33.5%);
        @include d-flex;
        align-items: stretch;
    }

    .sec {
        margin: 6px; 
    }
}

.sec-center-1 {
    @include flex-basis(100%);
}

.sec-center-2 {
    @include flex-basis(100%);
}

.sec-center-3 {
    @include flex-basis(50%);
}

.sec-center-4 {
    @include flex-basis(50%);
}

.sec-right {
    @include flex-basis(20.5%);
}



/*
================================================================================
|                                     COMMON                                   |
================================================================================
*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    position: relative;
    color: #357ddd !important;
    background-color: #112137;
    border-radius: 0;
    border: 2px solid #1b2f4a !important;
    margin: -2px;
    border-bottom: solid 2px #112137 !important;
    z-index: 1;
}



/*
================================================================================
|                                 CUSTOM SCROLLBAR                             |
================================================================================
*/

@import 'custom_scrollbar';

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

@import 'header';

/*
================================================================================
|                                   .sec-left                                  |
================================================================================
*/

@import 'sec-left';

/*
================================================================================ 
|                                   .sec-right                                 |
================================================================================
*/

@import 'sec-right';

/*
================================================================================
|                                 .sec-center-1                                |
================================================================================
*/

@import 'sec-center-1'; 

/*
================================================================================
|                                 .sec-center-2                                |
================================================================================
*/

@import 'sec-center-2'; 

/*
================================================================================
|                                 .sec-center-3                                |
================================================================================
*/

@import 'sec-center-3'; 

/*
================================================================================
|                                 .sec-center-4                                |
================================================================================
*/

@import 'sec-center-4'; 

/*
================================================================================
|                                 .responsive                                  |
================================================================================
*/

@import 'responsive'; 

