@import "mixins";


/*
================================================================================
|                                 GLOBAL STYLE                                 |
================================================================================
*/

body {
    background-color: #0C1B2F;
    color: #fff;
}

.main-content {
    outline: solid 3px #1B2F4A;
}

.sec {
    outline: solid 3px #1B2F4A;
}


/*
================================================================================
|                                   MAIN GRID                                  |
================================================================================
*/

.main-wrapper {
    @include d-flex;
    @include flex-direction(column);
    height: 100vh;
}

header {
    @include flex(0 1 auto);
}

.main-content {
    @include flex(1 1 auto);

    @include d-flex;
    align-items: stretch;
}

.sec-left {
    flex-basis: 15%;
    overflow: auto;
}

.sec-center {
    @include flex-basis(60%);
    @include d-flex;
    padding: 10px;

    .left {
        @include flex-basis(70%);
        @include d-flex;
        @include flex-direction(column);

        .top {
            @include flex(0 1 auto);
        }

        .bottom {
            @include flex(1 1 auto);
            @include d-flex;
        }
    }

    .right {
        @include flex-basis(25%);
        @include d-flex;
        align-items: stretch;
    }

    .sec {
        margin: 10px;
    }
}

.sec-center-1 {
    @include flex-basis(100%);
}

.sec-center-2 {
    @include flex-basis(100%);
}

.sec-center-3 {
    @include flex-basis(50%);
}

.sec-center-4 {
    @include flex-basis(50%);
}

.sec-right {
    @include flex-basis(30%);
}

/*
================================================================================
|                                   .sec-left                                  |
================================================================================
*/

.sec-left {
    @include d-flex;
    @include flex-direction(column);

    .controllers {
        @include flex(0 1 auto);
    }

    .list {
        @include flex(1 1 auto);
        overflow: auto;
        margin: 10px 0;

        .item {
            padding: 10px 0 13px;
            margin: 5px 20px;
            border-bottom: solid 3px #1B2F4A;

            &:last-of-type {
                border-color: transparent;
            }

            .top {
                @include d-flex;
                @include justify-content(space-between);
                @include align-items(center);
                margin-bottom: 10px;
            }

            .bottom {
                @include d-flex;
                @include justify-content(space-between);
                @include align-items(center); //                font-size: 14px;
            }

            .currency {
                @include d-flex;
                align-items: center;

                img {
                    margin-right: 5px;
                }

                span {
                    //                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }

            .percent {
                color: #00CF7A;
            }

            &.red .percent {
                color: #FF4B4B;
            }
        }
    }

    .select-money {
        @include d-flex;
        justify-content: space-around;
        padding: 0 10px;
        outline: solid 3px #1B2F4A;

        .item {
            padding: 15px 5px;
            border-bottom: solid 3px transparent;
            margin-bottom: -3px;
            color: #395C86;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            z-index: 1;

            &:hover {
                color: rgba(53, 125, 221, 0.7);
                border-color: rgba(53, 125, 221, 0.5);
            }
        }

        .item.selected {
            color: #357DDD;
            border-color: #357DDD;
        }
    }

    .searh-and-sortable {
        @include d-flex;
        outline: solid 3px #1B2F4A;
        margin-top: 3px;
    }

    .sortable {
        padding: 15px;
        outline: solid 3px #1B2F4A;

        img {
            color: #357DDD;
        }
    }

    .search {
        flex-wrap: nowrap;

        label {
            padding: 15px;
        }

        input {
            background: transparent;
            border: none;
            padding: 15px 0;
            width: 100%;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &:focus ~ label {
                background: red;
            }
        }
    }
}

/*
================================================================================
|                                 .sec-center-3                                |
================================================================================
*/

.sec-center-3 {
    @include d-flex;
    @include flex-direction(column);

    .nav-tabs {
        @include flex(0 1 auto);

        @include d-flex;
        align-items: center;
        border-bottom: 3px solid #1b2f4a;
    }

    .tab-content {
        @include flex(1 1 auto);
        overflow: auto;
    }

    .title {
        margin-right: auto;
        margin-bottom: 0;
        margin-left: 10px;
        color: #768FAD;
        font-size: 16px;
        text-transform: uppercase;
    }

    .table thead th {
        border-bottom: 3px solid #1b2f4a;
        border-top: none;
        background-color: #112137;
    }

    .table td,
    .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #1b2f4a;
    }

    .nav-tabs .nav-item {
        margin-bottom: 0;
    }

    .nav-tabs .nav-link {
        border: none;
    }


    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        position: relative;
        color: #495057;
        background-color: #112137;
        border-radius: 0;
        border: none;
        outline: solid 3px #1b2f4a;
        z-index: 1;

        &::after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #112137;
        }
    }

    .table td,
    .table th {
        vertical-align: middle;
    }
    
    .mCSB_inside > .mCSB_container {
        margin-right: 0;
    }
    
    tbody tr {
        td {
            white-space: nowrap;
            font-size: 0.875rem;
        }

        .currency {
            text-align: center;

            span {
                display: block;
                margin-top: 5px;
                color: #768FAD;
            }
        }

        .holding {
            span {
                display: block;
            }

            span:first-of-type {
                margin-bottom: 5px;
                color: #fff;
            }

            span:last-of-type {
                color: #768FAD;
            }
        }

        .price {
            span {
                display: block;
            }

            span:first-of-type {
                margin-bottom: 5px;
                color: #00CF7A;

            }

            span:last-of-type {
                color: #fff;
            }
        }

        .notify {
            text-align: center;
            padding-right: 30px;
        }

        &.red {
            .price {
                span:first-of-type {
                    color: #FF4B4B;
                }
                
                span:last-of-type {
                    img {
                        display: inline-block;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}


/*
================================================================================
|                                   .sec-right                                 |
================================================================================
*/

.sec-right {
    @include d-flex;
    @include flex-direction(column);

    .top {
        @include flex(0 1 auto);
    }

    .bottom {
        @include flex(1 1 auto);

        @include d-flex;
        @include flex-direction(column);

        .nav-tabs {
            @include flex(0 1 auto);
        }

        .tab-content {
            @include flex(1 1 auto);
            overflow: auto;
        }
    }
}


/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/

@import 'header';

/*
================================================================================
|                                       SEC-1                                  |
================================================================================
*/

@import 'sec-1';

/*
================================================================================
|                                       SEC-2                                  |
================================================================================
*/

@import 'sec-2';


/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

@import 'footer';



/*
================================================================================
|                                     MY STYLES                                |
================================================================================
*/
